.not-fount-title  {
    font-family:"Times New Roman", Times, serif;
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
}

.not-found-text {
    text-align: center;
    font-size: large;
}