.card-title {
    text-align: left;
    margin-left: 20px;

}

#cart-card-title {
    margin-top: 8px;
}

#cart-button {
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cart-card {
    margin-top: 10px;
    min-width: 800px;
}