#cart-title {
    margin-top: 10px;
    text-align: left;
    min-width: 800px;
    margin-bottom: 0px;
}

.cart-card {
    min-width: 800px;
}

#cart-accordion {
    width: fit-content;
}

#cart-form-body {
    padding: 0px;
}